<mat-sidenav-container>
  <mat-sidenav [opened]="true" mode="side">
    <button mat-raised-button color="primary" (click)="createNewForm()">Create a new form</button>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-tab-group >
      <mat-tab *ngFor="let formTemplate of forms" label="{{formTemplate.title.length ? formTemplate.title : 'Untitled'}}">
        <app-dynamic-form-builder [formTemplate]="formTemplate"></app-dynamic-form-builder>
      </mat-tab>
    </mat-tab-group>
  </mat-sidenav-content>
</mat-sidenav-container>
